.contact-me, form{
    display: flex;
    flex-direction: column;
}

.find-me, select {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin-top: 30px;
    margin-bottom: 20px;
    outline: none;
    color: rgb(255, 255, 255);
}

::placeholder, .comuna, .msg-text {
    color: rgb(190, 190, 190);
}

.find-me, .find-me ::placeholder, option, .comuna {
    font-size: 30px;
    padding: 10px 0px;
}

.find-me, select {
    width: 100%;
    display: block;
}

.submit {
    background-color: rgb(0, 0, 0);
    padding: 30px 0px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    width: 100%;
    text-decoration: none;
    margin-top: 50px;
}

.search {
    background-color: rgb(255, 255, 255);;
    border: none;
    border-radius: 5px;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    height: 38px;
    display: block;
    width: 90%;
    text-indent: 10px;
    margin-bottom: 30px;
}

::placeholder, .search {
    color: rgb(190, 190, 190);
}

.msg-back {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    outline: none;
    height: 350px;
    display: block;
    width: 100%;
}

.msg-text {
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: justify;
    font-size: 18px;
    height: 320px;
    color: rgb(0, 0, 0);
    padding: 10px;
}

.send {
    background-color: rgb(0, 0, 0);
    padding: 30px 0px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;
    margin-top: 85px;
}











