.active{
    border-bottom: 4px solid rgb(193, 39, 45);
    color: rgb(193, 39, 45);
}

.nav-element:hover {
    color: rgb(193, 39, 45);
}

.contact-me, form{
    display: flex;
    flex-direction: column;
}

.form {
    align-content: space-around;
}

.find-me, select {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin-top: 30px;
    margin-bottom: 30px;
    outline: none;
    color: rgb(255, 255, 255);
}

.find-me::placeholder, .comuna {
    color: rgba(255, 255, 255, 0.7);
}

.find-me, .find-me::placeholder, option, .comuna {
    font-size: 30px;
    padding: 10px 0px;
}

.find-me, select {
    width: 100%;
    display: block;
}

.submit {
    background-color: rgb(0, 0, 0);
    padding: 30px 0px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    width: 400px;
    text-decoration: none;
    margin-top: 50px;
    border: none;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.1)
}

button {
    cursor: pointer;
}

.search {
    background-color: rgb(255, 255, 255);;
    border: none;
    border-radius: 5px;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    height: 38px;
    display: block;
    width: 90%;
    text-indent: 10px;
    margin-bottom: 30px;
}

.find-me::placeholder, .search::placeholder, .msg-text, .comuna option {
    color: rgb(190, 190, 190);
}

.search::placeholder, .search option, .msg-text {
    font-size: 18px;
}

.msg-back {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    outline: none;
    height: 350px;
    display: block;
    width: 100%;
}

.msg-text {
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: justify;
    height: 320px;
    color: rgb(0, 0, 0);
    padding: 10px;
}

.send {
    background-color: rgb(0, 0, 0);
    padding: 30px 0px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;
    margin-top: 85px;
}

#menu-mobile{
    display: none;
}

.cellphone-btn{
    display: none;
}

.disabled-desktop{
    display: none;
}

.subtitle-thanks {
    color: rgb(255, 255, 255);
}

.back {
    background-color: rgb(0, 0, 0);
    padding: 30px 0px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    width: 400px;
    text-decoration: none;
    margin-top: 20px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
}

/* phone */
@media (max-width:400px){


    .active{
        border-bottom: none;
        color: rgb(255, 255, 255);
    }

    .cellphone{
        display: inline-block;
    }

    .hamburguer{
        display: inline-block;
        color: rgb(255, 255, 255);
        margin: auto 25px;
    }
    .nav-element:hover{
        color: rgb(255, 255, 255);
    }

    .menu-open{
        animation: grow 0.1s linear;
    }

    @keyframes grow {
        0% {
            height: 0;
        }
      
        100% {
            height: 73.6px;
        }
        
    }

    .menu-closed{
        height: 0;
        transition: 1s;
    }

    .submit {
        background-color: rgb(0, 0, 0);
        padding: 20px 10px;
        border-radius: 50px;
        color: rgb(255, 255, 255);
        font-size: 21px;
        width: 260px;
        text-decoration: none;
        margin-top: 20px !important;
    }

    .fa-whatsapp{
        font-size: 24px;
    }

    .icon-ws{
        width: 10px;
        height: 10px;
    }

    .menu{
        display: none;
    }

    .find-me, .find-me::placeholder, option, .comuna {
        font-size: 20px;
        width: 280px;
        margin: 0, auto;
    }

    .cellphone-btn{
        display: flex;
    }

    .tablet{
        display: none;
    }

    .search {
        background-color: rgb(255, 255, 255);;
        border: none;
        border-radius: 5px;
        outline: none;
        color: rgb(0, 0, 0);
        font-size: 14px;
        height: 38px;
        display: block;
        width: 90%;
        text-indent: 10px;
        margin: 20px auto;
    }

    .search::placeholder, .search option, .msg-text {
        font-size: 14px;
    }

    .send {
        background-color: rgb(0, 0, 0);
        padding: 30px 0px;
        border-radius: 50px;
        color: rgb(255, 255, 255);
        font-size: 18px;
        text-decoration: none;
        margin-top: 20px;
    }

    .msg-text {
        height: 200px;
    }

    .back {
        background-color: rgb(0, 0, 0);
        padding: 30px 0px;
        border-radius: 50px;
        color: rgb(255, 255, 255);
        font-size: 25px;
        width: 90%;
        text-decoration: none;
        margin-top: 20px;
    }
    
}

/* another dispositives*/
@media (min-width: 401px) and (max-width: 1000px){
    .hamburguer{
        display: inline-block;
        color: rgb(255, 255, 255);
        margin: auto 25px;
    }

    .active{
        border-bottom: none;
        color: rgb(255, 255, 255);
    }

    .nav-element:hover{
        color: rgb(255, 255, 255);
    }

    .menu-open{
        animation: grow 0.1s linear;
    }

    @keyframes grow {
        0% {
            height: 0;
        }
      
        100% {
            height: 73.6px;
        }
        
    }

    .menu-closed{
        height: 0;
        transition: 1s;
    }
    
    .cellphone{
        display: none;
    }

    .tablet{
        display: inline-block;
    }

    .btn-tablet {
        background-color: rgb(0, 0, 0);
        padding: 20px 10px;
        border-radius: 50px;
        border: 2px solid white;
        color: rgb(255, 255, 255);
        font-size: 21px;
        text-decoration: none;
        margin-left: 20px;
        width: 35%;
        align-self: center;
        font-family: Comfortaa;
        text-align: center;
    }

    .find-me, .find-me::placeholder, option, .comuna {
        font-size: 18px;
        padding: 10px 0px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .submit {
        padding: 15px 0px;
        border-radius: 50px;
        color: rgb(255, 255, 255);
        font-size: 18px;
        width: 100%;
        text-decoration: none;
        margin: 20px 0;
    }

    .search {
        background-color: rgb(255, 255, 255);;
        border: none;
        border-radius: 5px;
        outline: none;
        color: rgb(0, 0, 0);
        font-size: 12px;
        height: 30px;
        display: block;
        width: 95%;
        text-indent: 10px;
        margin:0 0 10px 0;
    }

    .search::placeholder, .search option, .msg-text {
        font-size: 12px;
    }

    .send {
        background-color: rgb(0, 0, 0);
        padding: 30px 0px;
        border-radius: 50px;
        color: rgb(255, 255, 255);
        font-size: 18px;
        text-decoration: none;
        margin-top: 20px;
    }

    .msg-text {
        height: 200px;
    }
        
}










