.nav-element {
    height: 50px;
    transition: 0.2s;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-bottom: 4px solid transparent;
    padding: 5px 30px;
}

.welcome {
    background-image: url(img/BackgroundImgs/Background1.png);
    background-size: cover;
}

#logo-welcome {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
}

#logo-welcome img {
    width:328px;
    height: 298px;
    padding: auto auto;
    margin-top: 300px;
}

.nav-element, #slogan, .title-type, .detail-title-section, .price-product{
    font-family: Pacifico;
}

.initial-form, .big-form {
    background-color: rgb(193, 39, 45);
}
.center-text {
    text-align: center;
}

.rigth-text {
    text-align: right;
}

.white {
    color: rgb(255 , 255, 255);
}

.title-type, #slogan {
    font-weight: normal;
}

.title-type {
    font-size: 40px;
}

.find-me ::placeholder, .find-me, option, .comuna, .msg-text {
    font-family: Comfortaa;
    text-align: left;
}

.submit, .send {
    text-align: center
}

.black{
    color: rgb(0, 0, 0);
    text-align: left;
}

span, .detail-title-section, .red{
    color: rgb(193, 39, 45);
}

.mission-vision {
    background-image: url(img/BackgroundImgs/Background2.png);
    background-size: cover;
}

p, ul, h4, .search, .submit, .send {
    font-family: Comfortaa;
}

.one {
    font-size: 21px;
    width: 700px;
    line-height: 32px;
    text-align: justify;
    display: inline-block;
}

.strong-img{
    background-color: rgb(0, 0, 0);
}

.border-white {
    border: 6px solid white;
    height: 350px;
    width: 600px;
    transform: translate(-50px,-140px);
}

.img-pin-one {
    transform: translate(0px,180px);

}

.medium-title{
    width: 420px;
    height: 150px;

}

li {
    display: block;
    margin-bottom: 130px;
    margin-left: 80px;
}

ul {
    list-style: square;
    display: list-item;
    font-size: 21px;
}

.one, ul, .-section {
    color: rgb(112, 112, 112);
}

.img-pin-two {
    width: 600px;
    height: 350px;
    transform:translate(85px,100px);
}

.border-black {
    border: 6px solid black;
    height: 350px;
    width: 600px;
    transform:translate(50px,-225px);
}

.foot {
    font-size: 18px;
    display: inline-block;
}

.text-btn-foot {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 21px;
}

a {
    text-decoration: none;
}

.detail-title-section {
    font-size: 32px;
}

.detail-text-section {
    font-size: 18px;
    margin-bottom: 50px;
    line-height: 20px;
}

.price-product {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-align: left;
    padding: 0 20px;
}

h4 {
    font-size: 21px;
    font-weight: 100;
    width: 60%;
    margin-left: 30px;
    line-height: 36px;
    text-align: justify;
}

/* phone */
@media (max-width:400px){

    .fa-bars{
        font-size: 28px;
    }
    
    .nav-element {
        height: auto;
        transition: 0.2s;
        font-size: 28px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 10px 0;
    }

    .menu-categories{
        background-color: rgba(255, 255, 255, 0.185);
    }

    #logo-welcome{
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
    }

    #logo-welcome img {
        width:220px;
        height: 200px;
        padding: auto auto;
        margin-top: 200px;
    }

    #slogan{
        font-size: 20px;
    }

    .text-btn-foot {
    display: none;
    }

    .title-type {
    font-size: 24px;
    line-height: 32px;
    }

    .one {
    font-size: 14px;
    width: 80%;
    line-height: 20px;
    text-align: justify;
    margin: 60px 40px 0px 40px;
    }

    .section-title {
    justify-self: center;
    margin: 40px;
    }

    .medium-title {
        text-align: center;
        margin: 20px;
    }

    .border-white-cell {
        border: 4px solid rgb(255, 255, 255);
    }

    .border-black-cell {
        border: 4px solid rgb(0, 0, 0);
        
    }

    .border-black-cell, .border-white-cell{
        margin: 20px;
        height: 130px;
        display: flex;
        justify-content: center;
    }

    li {
        margin: 0px 80px
    
    }

    ul {
        list-style: square;
        display: list-item;
        font-size: 16px;
    }

    .square-title {
        text-align: center;
        margin: 38px;
        align-self: center;
    }

    .mission-vision{
        background-image: url(img/BackgroundImgs/Background_cell_2.png) !important;

    }

    .detail-title-section {
        font-size: 21px;
        text-align: center;
        width: 300px;
    }

    .detail-text-section {
        font-size: 12px;
        margin-bottom: 30px;
        line-height: 14px;
        text-align: justify;
        width: 90%;
    }

    .price-product {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-size: 21px;
        text-align: center;
        padding: 0;
        width: 100%;
        justify-content: center;
    }
}

/* another dispositives*/
@media (min-width: 401px) and (max-width: 1000px){
    .fa-bars{
        font-size: 28px;
    }

    .menu-categories{
        background-color: rgba(255, 255, 255, 0.185);
    }

    #logo-welcome {
        width: 300px;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.5);
        align-items: center;
    }

    #logo-welcome img{
        width: 205px;
        height: 175px;
        margin-top: 65px;
    }

    #slogan {
        font-size: 21px;
    }

    .title-type{
        font-size: 32px;
    }

    .one{
    font-size: 14px;
    width: 50%;
    line-height: 16px;
    text-align: justify;
    display: inline-block;
    }

    .mission-vision{
        background-image: url(img/BackgroundImgs/Background_cell_hor_2.png);
        background-size: cover;
    }

    .img-pin-one, .img-pin-two, .border-white, .border-black{
        width:300px;
        height: 180px;
    }

    .border-white {
        border: 4px solid rgb(255 , 255, 255);
        transform: translate(-12px,-70px);
    }
    .img-pin-one{
        transform: translate(10px,135px);
    }

    .border-black {
        border: 4px solid rgb(0, 0, 0);
        transform: translate(25px,-150px);
    }

    .img-pin-two{
        transform: translate(50px,20px);
    }
    
    li {
        display: block;
        margin-bottom: 50px;
        margin-left: 80px;
    }

    ul {
        list-style: square;
        display: list-item;
        font-size: 16px;
        line-height: 18px;
    }

    .text-btn-foot {
        display: none;
    }
}
