.nav-element{
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0px 30px;
}

.welcome {
    background-image: url(img/BackgroundImgs/Background1.png);
    background-size: cover;
}

#logo-welcome {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
}

#logo-welcome img {
    width:328px;
    height: 298px;
    padding: auto auto;
    margin-top: 300px;
}

.nav-element, #slogan, .title-type, .detail-title-section, .price-product{
    font-family: Pacifico;
}

.initial-form, .big-form {
    background-color: rgb(193, 39, 45);
}
.center-text {
    text-align: center;
}

.rigth-text {
    text-align: right;
}

.white {
    color: rgb(255 , 255, 255);
}

.title-type, #slogan {
    font-weight: normal;
}

.title-type {
    font-size: 40px;
}

.find-me ::placeholder, .find-me, option, .comuna, .submit {
    font-family: Comfortaa;
    text-align: center;
}

.black{
    color: rgb(0, 0, 0);
    text-align: left;
}

span, .detail-title-section, .red{
    color: rgb(193, 39, 45);
}

.mission-vision {
    background-image: url(img/BackgroundImgs/Background2.png);
    background-size: cover;
}

p, ul, h4, .search {
    font-family: Comfortaa;
}

.one {
    font-size: 21px;
    width: 50%;
    line-height: 32px;
    text-align: justify;
    display: inline-block;
}

.strong-img{
    background-color: rgb(0, 0, 0);
}

.border-white {
    position: absolute;
    border: 6px solid white;
    width: 600px;
    height: 350px;
    z-index: 2;
    margin-top: 180px;
    margin-left: 120px;
}

.img-pin-one {
    position: absolute;
    margin-top: 150px;
    margin-left: 150px;
    z-index: 1;
}

.medium-title{
    margin-top: 250px;
    margin-right: 150px;
}

li {
    margin-left: 150px;
    margin-top: 100px;
    display: inline-block;

}

ul {
    list-style: square;
    display: list-item;
    font-size: 21px;
}

.one, ul, .detail-text-section {
    color: rgb(112, 112, 112);
}

.img-pin-two {
    display: inline-block;
    position: absolute;
    margin-top: 120px;
    margin-left: 180px;
    z-index: 1;
}

.border-black {
    display: inline-block;
    position: absolute;
    border: 6px solid black;
    width: 600px;
    height: 350px;
    z-index: 2;
    margin-top: 100px;
    margin-left: 100px;

}

.foot {
    font-size: 18px;
    display: inline-block;
}

.text-btn-foot {
    display: flex;
    flex-direction: row;
    text-decoration: transparent;
    font-size: 21px;
}

.circle-img {
    border-radius: 50%;
}

.detail-title-section {
    font-size: 32px;
}

.detail-text-section {
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 30px;
}

.price-product {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-align: left;
    padding: 0 20px;
}

h4 {
    font-size: 24px;
    font-weight: 100;
    width: 60%;
    margin-left: 30px;
    line-height: 36px;
    text-align: justify;
}