body {
    margin: 0px;
}

nav {
    display: block;
    background-color:rgb(0, 0, 0);
    height: 80px;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: fixed;
}

#wrapper{
    display: flex;
    flex-direction: column;
}
.welcome, #logo-welcome, .initial-form, .mission-vision, .categories {
    height: 700px;
}

.welcome, .initial-form, .mission-vision, .categories {
    width: 100%;
}

.initial-form {
    display: flex;
    justify-content: center;
}

.contact-me{
    width: 400px;
}