body {
    margin: 0px;
    width: 100%;
}

nav {
    background-color:rgb(0, 0, 0);
    height: 80px;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    width: 100%;
    position: fixed;
    z-index: 3;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: auto 30px auto 0px;
    width: 915px;
}

.btn-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.disabled{
    display: none;
}

#wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.welcome, #logo-welcome, .initial-form,  .strong-img, .categories {
    height: 700px;
}

.mission-vision{
    height: 100%;
}

.re-img-tablet{
    display:none;
}

.welcome, .initial-form, .mission-vision, .strong-img, .categories {
    width: 100%;
}

.strong-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-border-1 {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
    justify-content: space-around;
    align-items: center;
}

.initial-form, form {
    display: flex;
    justify-content: center;
}

form {
    flex-direction: column;
}

.section-title, .one{
    margin-left: 50px;
}

.section-title {
    margin-top: 50px;
}

.one {
    margin-top: 100px;
    margin-bottom: 80px;
}

.categories-img{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 100%;;
}

footer {
    height: 300px;
    background-color:  rgb(193, 39, 45);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.btn-foot {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
}

.btn-foot-desktop{
    display: flex;
    flex-direction: row;
}

.btn-logo-home {
    width: 200px;
    height: 200px;
}

.under-nav {
    margin-top: 80px;
    flex-direction: column;
}
.card-section {
    width: 80%;  
    margin: 100px auto;
}

.detail-product {
    border: 6px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-gall{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img1{
    background-image: url(img/GP_Sweet_1.png);
}

.img2{
    background-image: url(img/GP_Sweet_2.png);
}

.img3{
    background-image: url(img/GP_Sweet_3.png);
}

.img4{
    background-image: url(img/GP_Sweet_4.png);
}

.img5{
    background-image: url(/img/GP_Sweet_5.png);
}

.img6{
    background-image: url(img/GP_Sweet_6.png);
}

.img7{
    background-image: url(img/GP_Sweet_7.png);
}

.img8{
    background-image: url(img/GP_Sweet_8.png);
}

.img9{
    background-image: url(img/GP_Salty_1.png);
}

.img10{
    background-image: url(img/GP_Salty_2.png);
}

.img11{
    background-image: url(img/GP_Salty_3.png);
}

.img12{
    background-image: url(img/GP_Salty_4.png);
}

.img13{
    background-image: url(img/GP_Salty_5.png);
}

.img14{
    background-image: url(img/GP_Salty_6.png);
}

.img15{
    background-image: url(img/GP_Salty_7.png);
}

.img16{
    background-image: url(img/GP_Salty_8.png);
}

.circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-right: 20px;
    background-size: cover;
}

.gallery-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}

.text-detail {
    padding: 0px 25px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price-product {
    display: flex;
    float: right;
}

.salty {
    margin-top: 0px;
    flex-direction: column;
}

.about-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 100px;
}
.profiles {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-top: 50px;
    justify-content: space-between;
}

.profile-photoB, .profile-photoD {
    width: 400px;
    height: 400px;
}

.profile-photoB{
    background-image: url(img/About_Bárbara.png);
}

.profile-photoD{
    background-image: url(img/About_Diego.png);
}

.big-form {
    width: 90%;
    margin: 0px auto 100px auto;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.inputs-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inputs-group {
    width: 50%;
    margin-left: 30px;
    align-content: center;
}

.write-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 30px;
}


/* phone verticall*/
@media (max-width:400px){

    body{
        margin: 0px;
        width: 100%;
    }

    #follow-menu{
        display: fixed !important;
    }

    nav{
        display: none;
    }
    #menu-mobile {
        width: 100%;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        margin: auto 30px auto 0px;
        background-color: rgb(0, 0, 0);
    }
    .top-menu-mobile{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .menu-categories {
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    .temporal-menu {
        color:rgb(255, 255, 255);
        margin-right: 75px;
    }

    .disabled-cellphone, .img-pin-one, .img-pin-two, .text-desktop{
        display: none !important;
    }

    .disabled{
        display: inline-block !important;
    }

    .welcome, #logo-welcome, footer{
        height: 600px;
    }

    .initial-form{
        height: 550px;
    }

    .strong-img {
        height: 180px;
    }

    .mission-vision{
        height: 1075px;
    }

    .categories{
        height: 700px;
    }
    
    .cellphone-img-1, .cellphone-img-2{
        height: 222px;
    }

    .welcome, #logowelcome, .initial-form, .mission-vision, .cellphone-img-1, .cellphone-img-2, #menu-mobile, .contact-me,{
        width: 375px;
        margin: 0px auto;
    }

    .form {
        width: 300px !important;
    }

    .cellphone-img-1{
        background-image: url(img/strong_img_1_cellphone.png);
        background-size: cover;

    }
    
    .cellphone-img-2{
        background-image: url(img/strong_img_2_cellphone.png);
        background-size: cover;

    }

    .categories-img{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        height: 100%;;
    }

    footer {
        flex-direction: column;
        align-content: space-around;
    }
    
    .social-media {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50px;
        height: 300px;
    }

    .re-img-tablet{
        display:none;
    }

    .img-border-1 {
        display: none;
    }

    .card-section {
        width: 90%;  
        margin: 50px auto !important;
    }

    .detail-product {
        border: 4px solid black;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .gallery-product{
        margin:0;
    }

    .circle{
        border-radius: 0;
        margin:0;
    }
     .under-nav{
         margin-top: 0;
     }

     #wrapper{
         justify-content: center;
     }

     .text-detail {
        width: 100%;
        padding: 0;
        align-items: center;
    }

    .salty{
        margin-bottom:50px;
    }

    .btn-foot{
        margin-right: 0;
    }

    .about-info{
        flex-direction: column;
        padding: 0;
    }

    .profile-photoB, .profile-photoD {
        width: 400px;
    }

    .profiles{
        margin-right: 0;
        margin-top: 0;
    }
    .about-info{
        margin-bottom: 30px;
    }
    
    .inputs-info {
        flex-direction: column;
    }

    .inputs-group {
        width: 100%;
        margin: auto;
        align-content: center;
    }
    
    .write-section {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 20px auto;
    }
}

/* another dispositives*/
@media (min-width: 401px) and (max-width: 1000px){
    body{
        margin: 0px;
        width: 100%;
    }

    nav{
        display: none;
    }

    #menu-mobile {
        width: 100%;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        margin: auto 30px auto 0px;
        background-color: rgb(0, 0, 0);
    }

    .top-menu-mobile{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .menu-categories{
        display: flex;
        flex-direction: column;
        text-align: right;   
    }

    .welcome, .initial-form {
        height: 345px;
    }

    .welcome{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #logo-welcome, .initial-form, .strong-img, .categories{
        height: 100%;
    }

    .tablet{
        margin-right: 25px;
        margin-bottom: 25px;
    }

    .contact-me{
        width: 40%;
    }

    .section-title {
        margin-top: 28px;
    }

    .mission-vision{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .one{
        margin-top:10px;
        margin-bottom: 50px;
    }
        .re-img-tablet{
        display: inline-block;
    }

    .mission-tablet{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .text-desktop{
        display: none;
    }

    .disabled {
        display: inline-block;
    }

    .social-media {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 250px;
    }
    .under-nav{
        margin-top:0;
    }

    .card-section{
        width: 90%;
        margin: 30px auto;
    }

    .detail-product{
        border: 4px solid rgb(0, 0, 0);
    }
    
    .gallery-product{
        margin: 0;
        justify-content: flex-start;
        width: 50%;
        height: 100%;
    }

    .row-gall{
        width: 100%;
        height: 50%;
    }

    .circle {
        width: 100%;
        height: 150px;
        border-radius: 0;
        margin-bottom:0;
        margin-right:0;
    }

    .about-info{
        padding:0;
    }

    .profiles{
        margin-right: 0;
        margin-top: 10px;
        justify-content: flex-start;
        }

    .profile-photoB, .profile-photoD{
        width: 200px;
        height: 200px;
        margin-right: 50px;
        margin-bottom: 50px;
        border-radius: 50%;
    }

    .inputs-group {
        width: 100%;
        margin: auto;
        align-content: center;
    }

    .inputs-info {
        width: 90%;
        margin: auto;
    }
    
    
    .write-section {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-right: 0;
    }

    
}


